#page-teacher-list {
	width: 100vw;
	height: 100vh;
}

.page-header .header-content strong {
	font: 700 3.6rem Archivo;
	margin-top: -1rem;
}

#search-teachers {
	margin-top: 3.2rem;
}

#search-teachers label {
	color: var(--color-text-in-primary);
}

#search-teachers button {
	width: 100%;
	height: 5.6rem;
	background: var(--color-secundary);
	color: var(--color-button-text);
	border: 0;
	border-radius: 0.8rem;
	cursor: pointer;
	font: 700 1.6rem Archivo;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	transition: background-color 0.2s;
	margin-top: 3.2rem;
}

#search-teachers button:hover {
	background: var(--color-secundary-dark);
}

#page-teacher-list main {
	margin: 3.2rem auto;
	width: 90%;
}

@media (min-width: 700px) {
	#page-teacher-list .page-header {
		height: 190px;
	}

	#page-teacher-list {
		max-width: 100%;
	}

	#page-teacher-list .page-header .header-content strong {
		/* margin-top: 0rem; */
		margin-bottom: 3rem;
	}

	.page-header .header-content {
		max-width: 700px;
	}

	#search-teachers {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		column-gap: 16px;
		position: absolute;
		bottom: -28px;
	}

	#search-teachers .input-block + .input-block,
	#search-teachers .select-block + .select-block {
		margin-top: 0rem;
		margin-top: 0rem;
	}

	#page-teacher-list main {
		padding: 3.2rem 0;
		max-width: 700px;
		margin: 0 auto;
	}
}

@media (max-width: 699px) {
	#search-teachers {
		margin-top: 1.7rem;
	}

	#search-teachers .input-block input {
		height: 4.6rem;
		margin-top: 0.8rem;
	}

	#page-teacher-list main {
		margin: 2.7rem auto;
	}

	.teacher-item header {
		padding: 3rem 2rem;
	}
}

@media (max-width: 600px) {
	#page-teacher-list {
		max-width: 100% !important;
	}
}
